{
  "env": {
    "browser": true,
    "node": false,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "impliedStrict": true
  },
  "globals": {
    "THREE": true,
    "requirejs": true,
    "require": true,
    "define": true,
    "Howl": true,
    "Howler": true,
    "Stats": true
  },
  "extends": "airbnb-base/legacy"
}
