body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Lucida Grande', 'Segoe UI', 'Droid Sans', Verdana, Arial, sans-serif;
    font-size: 20px;
    overflow: hidden;
}

p {
    margin: 0 0 10px;
}

button {
    width: 100%;
    font-size: 20px;
    line-height: 32px;
    margin: 20px 0;
    cursor: pointer;
    text-transform: uppercase;
}

em {
    font-style: normal;
}

#ui {
    position: relative;
}
