/* ui */
body {
  margin: 0;
  background-color: #fff;
  color: rgb(15, 66, 15);
  font-family: 'Lucida Grande', 'Segoe UI', 'Droid Sans', Verdana, Arial, sans-serif;
  font-size: 20px;
  overflow: hidden;
}
p {
  margin: 0 0 10px;
}

/* loading screen */
#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url('images/orc-shamans-and-goblin-wizard.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#loading header {
  background-color: rgba(0,0,0, .7);
  margin: 100px 0 0;
  padding: 30px 0 60px;
  color: #fff;
}
#loading h1 {
  font-size: 60px;
  line-height: 100px;
  font-family: fantasy;
}
#loading h1,
#loading p {
  margin: 0;
}

/* game */
#game {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

/* style common to several ui windows like target and debug */
.ui-window {
  position: absolute;
  top: 5px;
  width: 141px;
  height: 40px;
  padding: 5px 10px;
  border: solid 1px;
}

/* target window */
#target-window {
  background-color: rgba(255,255,255,.5);
  left: 5px;
  font-size: 16px;
  text-align: center;
}
#target-window:hover {
  background-color: rgba(255,255,255,.75);
}
#target-window p {
  margin: 0;
  line-height: 1.25em;
}

/* debug window */
#debug-window {
  right: 5px;
  background-color: rgba(255,255,255,1);
  font-size: 10px;
  display: none;
}
#debug-window ul {
  margin: 0;
  padding: 0;
}
#debug-window ul li {
  list-style: none;
}
