/* ui */
body {
  margin: 0;
  background-color: #fff;
  color: rgb(15, 66, 15);
  font-family: 'Lucida Grande', 'Segoe UI', 'Droid Sans', Verdana, Arial, sans-serif;
  font-size: 10px;
  overflow: hidden;
}
p {
  margin: 0 0 10px;
}

/* loading screen */
#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url('images/orc-shamans-and-goblin-wizard.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#loading header {
  background-color: rgba(0,0,0, .7);
  padding: 30px 0 100px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#loading h1 {
  margin: 0;
  font-size: 60px;
  line-height: 100px;
  font-family: fantasy;
  cursor: default;
}

/* play button */
#play {
  background-color: black;
  color: white;
  font-size: 32px;
  padding: 6px 32px;
  border-radius: 8px;
  cursor: pointer;
  position: absolute;
  bottom: 35px;
  width: 240px;
  border: solid 1px;
  left: 50%;
  margin-left: -120px;
  text-transform: uppercase;
}
#play:disabled {
  opacity: .5;
  cursor: default;
}

/* game */
#game {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

/* style common to several ui windows like target and debug */
.ui-panel {
  position: absolute;
  right: 5px;
  width: 141px;
  height: 40px;
  padding: 5px 10px;
  border: solid 1px;
  background-color: rgba(0,0,0,.1);
}

/* target window */
#target-panel {
  top: 5px;
  text-align: center;
}
#target-panel p {
  margin: 0;
  line-height: 1.25em;
}

/* debug window */
#debug-panel {
  top: 60px;
  display: none;
}
#debug-panel ul {
  margin: 0;
  padding: 0;
}
#debug-panel ul li {
  list-style: none;
}
